/* page: font (f) */ 
.font {
  font-family: Georgia, "Times New Roman", "FangSong", "仿宋", STFangSong, "華文仿宋", serif;
}

/* page: layout (l) */
.layout {
  width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-left {
  width: 600px;
  height: 650px;
  float: left;
}
.l-right {
  width: calc(100% - 601px);
  float: right;
  border-left: 1px dotted#eee;
  padding-left: 50px;
  margin-left: -50px;
}

/* svg: map */
path {
}
path[class*="county"]:hover {
  stroke: dimgrey;
  cursor: pointer;
}
#map {
  position: fixed;
}
#pie {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.town,
.village {
  fill: none;
  stroke: #fff;
}

/* list */
ul {
  list-style: none;
  padding-left: 0;
}

a {
  background-color: lightgrey;
  padding: 0.1em 0.6em;
  border-radius: 2px;
  line-height: 1.5em;
  margin-left: 1em;
  color: white;
  text-decoration: none;
}
a:hover { background-color: dimgrey; }
a.bg-c-green:hover { background-color: green; }
a.bg-c-blue:hover { background-color: blue; }
.bg-c-green { background-color: rgb(135, 240, 40); }
.bg-c-blue { background-color: rgb(120, 150, 250); }
.bg-c-gray { background-color: lightgray; }
.bg-c-y { background-color: rgb(250,250,50); }

.number {
  text-align: right;
  width: 2.5em;
  display: inline-block;
  border-bottom: 1px solid black;
  margin: 0.2em;
  padding-right: .5em;
}
.n-bg {
  border-bottom: 0;
  border-radius: 3px;
  line-height: 1.2m;
}
